body {
    background-image: url(background.gif);
    height: 100%;
    background-position: ;
    background repeat: no-repeat;
    background-size: cover;
    font-family: arial;
}

.icey {
    color:#E3EEF8;
    text-align: center;
    padding-top: 20%;
}

.icons {
    text-align: center;
    padding-right: 1.5%
}

.hype {
    padding: 0 .5%;
    color: #E3EEF8;
}

.twitter {
    padding: 0 .5%;
    color: #E3EEF8;
}

.twitch {
    padding: 0 .5%;
    color: #E3EEF8;
}

.youtube {
    padding: 0 .5%;
    color: #E3EEF8;
}

.hype:hover {
    color: #39A2F9;
}

.twitter:hover {
    color: #39A2F9;
}

.twitch:hover {
    color: #39A2F9;
}

.youtube:hover {
    color: #39A2F9;
}

.background {
    padding-left: 25.2%;
}

.button {
    text-decoration: none;
    color: #E3EEF8;
    margin-left: 44.5%;
    margin-top: -1%;
    border: 1px solid #E3EEF8;
    background: none;
    padding: 5px 40px;
    position:absolute;
}

.button:hover {
    background: #39A2F9;
}

.credit {
    margin-left:46%;
    margin-top: 19.5%;
    margin-bottom: 5;
    color:rgb(139, 139, 139);
}